# PREVIO

## Importar librerias

In [86]:
import pandas as pd
import numpy as np
import re

## Primera toma de contactos con el DataSet

In [45]:
sharkattacks = pd.read_csv("../project-pandas/GSAF5.csv", engine = "python")

In [46]:
sharkattacks.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2016.09.18.c,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.c-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.c,2016.09.18.c,5993,NaN,NaN
1,2016.09.18.b,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Chucky Luciano,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.b-Luciano.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.b,2016.09.18.b,5992,NaN,NaN
2,2016.09.18.a,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.a-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.a,2016.09.18.a,5991,NaN,NaN
3,2016.09.17,17-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Thirteenth Beach,Surfing,Rory Angiolella,M,...,NaN,"The Age, 9/18/2016",2016.09.17-Angiolella.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.17,2016.09.17,5990,NaN,NaN
4,2016.09.15,16-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Bells Beach,Surfing,male,M,...,2 m shark,"The Age, 9/16/2016",2016.09.16-BellsBeach.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.16,2016.09.15,5989,NaN,NaN

In [47]:
sharkattacks.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

In [48]:
sharkattacks.shape

(5992, 24)

Tenemos un dataset amplio con 5992 filas y 24 columnas. En la primera toma de contacto con el DataSet vemos que hay algunos parÃ¡metros del DataSet que no parecen tener mucha relevancia por la cantidad de valores repetidos y valores NaN que observo.

Posibles procedimientos a aplicar:

- Observamos en Case Number tenemos unos Ã­ndices al final que podremos limpiar.
- TambiÃ©n observo como case number y date pese a tener formatos diferentes, dan informaciÃ³n similar.
- Las columnas unnamed a primera vista no tienen valores relevantes.
- Columnas como pdf, href, investigator or source no aportan informaciÃ³n relevante a priori

In [49]:
sharkattacks.isnull().sum()

Case Number                  0
Date                         0
Year                         0
Type                         0
Country                     43
Area                       402
Location                   496
Activity                   527
Name                       200
Sex                        567
Age                       2681
Injury                      27
Fatal (Y/N)                 19
Time                      3213
Species                   2934
Investigator or Source      15
pdf                          0
href formula                 1
href                         3
Case Number.1                0
Case Number.2                0
original order               0
Unnamed: 22               5991
Unnamed: 23               5990
dtype: int64

Podemos ver como varias de las columnas que tiene el DataSet tienen aproximadamente el 50% de sus celdas con valores nulos.

VÃ©ase Time, Age, Species o las columnas Unnamed

# MANIPULACIÃ“N Y LIMPIEZA

Podemos crear una funciÃ³n con el propÃ³sito de limpiar los campos en los que nos encontremos puntos, comas, parentesis o elementos que no nos aportan informaciÃ³n relevante

In [84]:
def clean_col(items):
column_cleaned = []
    for item in items:
        item = item.replace("(", "" )
        item = item.replace(")", "" )
        item = item.replace("/", "" )
        item = item.replace(".", ' ')
        item = item.replace(" ", '_')
        
    
        column_cleaned.append(item)
    return column_cleaned

IndentationError: expected an indented block (<ipython-input-84-8b15e7997bd4>, line 2)

Visto que las columnas Unnamed no tienen valores relevantes en prÃ¡cticamente ninguna celda. Podemos proceder a eliminarlas del DataSet

In [59]:
sharkattacks.drop(['Unnamed: 22','Unnamed: 23'], axis=1)

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order
0,2016.09.18.c,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,N,13h00,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.c-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.c,2016.09.18.c,5993
1,2016.09.18.b,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Chucky Luciano,M,...,N,11h00,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.b-Luciano.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.b,2016.09.18.b,5992
2,2016.09.18.a,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,N,10h43,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.a-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.a,2016.09.18.a,5991
3,2016.09.17,17-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Thirteenth Beach,Surfing,Rory Angiolella,M,...,N,NaN,NaN,"The Age, 9/18/2016",2016.09.17-Angiolella.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.17,2016.09.17,5990
4,2016.09.15,16-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Bells Beach,Surfing,male,M,...,N,NaN,2 m shark,"The Age, 9/16/2016",2016.09.16-BellsBeach.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.16,2016.09.15,5989
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5987,ND.0005,Before 1903,0,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,male,M,...,Y,NaN,NaN,"H. Taunton; N. Bartlett, p. 234",ND-0005-RoebuckBay.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0005,ND.0005,6
5988,ND.0004,Before 1903,0,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,Ahmun,M,...,Y,NaN,NaN,"H. Taunton; N. Bartlett, pp. 233-234",ND-0004-Ahmun.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0004,ND.0004,5
5989,ND.0003,1900-1905,0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,...,Y,NaN,NaN,"F. Schwartz, p.23; C. Creswell, GSAF",ND-0003-Ocracoke_1900-1905.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0003,ND.0003,4
5990,ND.0002,1883-1889,0,Unprovoked,PANAMA,NaN,"Panama Bay 8ï¿½N, 79ï¿½W",NaN,Jules Patterson,M,...,Y,NaN,NaN,"The Sun, 10/20/1938",ND-0002-JulesPatterson.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0002,ND.0002,3
5991,ND.0001,1845-1853,0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,...,Y,NaN,NaN,S.W. Baker,ND-0001-Ceylon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0001,ND.0001,2

Podemos definir una funcion para todos aquellos NaN que nos encontremos en algunas columnas donde he encontrado mÃ¡s, pasar otro parÃ¡metro diferente.

In [64]:
def change_NaN (column):
    
    unk = column.fillna ('Unknown')
    
    return unk

sharkattacks['Time'] = change_NaN (sharkattacks['Time'])
sharkattacks['Age'] = change_NaN (sharkattacks['Age'])
sharkattacks['Area'] = change_NaN (sharkattacks['Area'])
sharkattacks['Location'] = change_NaN (sharkattacks['Location'])
sharkattacks['Activity'] = change_NaN (sharkattacks['Activity'])

Podemos pasar a normalizar los nombres de los paÃ­ses ya que tenemos filas con elementos que sobran como (_) o (/) o puntos (.) y limpiar los campos

In [87]:
pd.unique(sharkattacks['Country'])

array(['USA', 'AUSTRALIA', 'NEW CALEDONIA', 'REUNION', 'BAHAMAS', 'SPAIN',
       'CHINA', 'JAPAN', 'COLUMBIA', 'SOUTH AFRICA', 'EGYPT',
       'NEW ZEALAND', 'INDONESIA', 'FRENCH POLYNESIA', 'CAPE VERDE',
       'Fiji', 'BRAZIL', 'DOMINICAN REPUBLIC', 'CAYMAN ISLANDS',
       'UNITED ARAB EMIRATES', 'ARUBA', 'MOZAMBIQUE', 'THAILAND', 'FIJI',
       'PUERTO RICO', 'ITALY', 'MEXICO', 'ATLANTIC OCEAN', 'GREECE',
       'MAURITIUS', nan, 'ST. MARTIN', 'FRANCE', 'ECUADOR',
       'PAPUA NEW GUINEA', 'TRINIDAD & TOBAGO', 'KIRIBATI', 'ISRAEL',
       'DIEGO GARCIA', 'TAIWAN', 'JAMAICA', 'PALESTINIAN TERRITORIES',
       'GUAM', 'SEYCHELLES', 'BELIZE', 'PHILIPPINES', 'NIGERIA', 'TONGA',
       'SCOTLAND', 'CANADA', 'CROATIA', 'SAUDI ARABIA', 'CHILE',
       'ANTIGUA', 'KENYA', 'RUSSIA', 'TURKS & CAICOS', 'COSTA RICA',
       'UNITED KINGDOM', 'MALAYSIA', 'UNITED ARAB EMIRATES (UAE)',
       'SAMOA', 'AZORES', 'SOLOMON ISLANDS', 'SOUTH KOREA', 'MALTA',
       'VIETNAM', 'MADAGASCAR', 'PANAMA', 'SOMALIA', 'NEVIS', 'CUBA',
       'ENGLAND', 'BRITISH VIRGIN ISLANDS', 'NORWAY', 'SENEGAL', 'YEMEN',
       'GULF OF ADEN', 'Sierra Leone', 'ST. MAARTIN', 'GRAND CAYMAN',
       'Seychelles', 'LIBERIA', 'VANUATU', 'MEXICO ', 'HONDURAS',
       'VENEZUELA', 'SRI LANKA', ' TONGA', 'URUGUAY', 'INDIA',
       'MICRONESIA', 'CARIBBEAN SEA', 'OKINAWA', 'TANZANIA',
       'MARSHALL ISLANDS', 'EGYPT / ISRAEL', 'NORTHERN ARABIAN SEA',
       'HONG KONG', 'EL SALVADOR', 'ANGOLA', 'BERMUDA', 'MONTENEGRO',
       'IRAN', 'TUNISIA', 'NAMIBIA', 'NORTH ATLANTIC OCEAN', 'PORTUGAL',
       'SOUTH CHINA SEA', 'BANGLADESH', 'PALAU', 'WESTERN SAMOA',
       'PACIFIC OCEAN ', 'BRITISH ISLES', 'GRENADA', 'IRAQ', 'TURKEY',
       'SINGAPORE', 'NEW BRITAIN', 'SUDAN', 'JOHNSTON ISLAND',
       'SOUTH PACIFIC OCEAN', 'NEW GUINEA', 'RED SEA',
       'NORTH PACIFIC OCEAN', 'FEDERATED STATES OF MICRONESIA',
       'MID ATLANTIC OCEAN', 'ADMIRALTY ISLANDS', 'BRITISH WEST INDIES',
       'SOUTH ATLANTIC OCEAN', 'PERSIAN GULF', 'RED SEA / INDIAN OCEAN',
       'PACIFIC OCEAN', 'NORTH SEA', 'NICARAGUA ', 'MALDIVE ISLANDS',
       'AMERICAN SAMOA', 'ANDAMAN / NICOBAR ISLANDAS', 'GABON', 'MAYOTTE',
       'NORTH ATLANTIC OCEAN ', 'THE BALKANS', 'SUDAN?', 'ARGENTINA',
       'MARTINIQUE', 'INDIAN OCEAN', 'GUATEMALA', 'NETHERLANDS ANTILLES',
       'NORTHERN MARIANA ISLANDS', 'IRAN / IRAQ', 'JAVA', 'SIERRA LEONE',
       ' PHILIPPINES', 'NICARAGUA', 'CENTRAL PACIFIC',
       'SOLOMON ISLANDS / VANUATU', 'SOUTHWEST PACIFIC OCEAN',
       'BAY OF BENGAL', 'MID-PACIFC OCEAN', 'SLOVENIA', 'CURACAO',
       'ITALY / CROATIA', 'BARBADOS', 'MONACO', 'GUYANA', 'HAITI',
       'SAN DOMINGO', 'IRELAND', 'KUWAIT', 'LIBYA', 'YEMEN ',
       'MEDITERRANEAN SEA?', 'FALKLAND ISLANDS', 'CRETE', 'CYPRUS',
       'EGYPT ', 'BURMA', 'LEBANON', 'PARAGUAY', 'BRITISH NEW GUINEA',
       'OCEAN', 'GEORGIA', 'SYRIA', 'TUVALU', 'INDIAN OCEAN?', 'GUINEA',
       'EQUATORIAL GUINEA / CAMEROON', 'COOK ISLANDS', 'ALGERIA',
       'Coast of AFRICA', 'TASMAN SEA', 'GHANA', 'St Helena', 'GREENLAND',
       'MEDITERRANEAN SEA', 'SWEDEN', 'ICELAND',
       'Between PORTUGAL & INDIA', 'DJIBOUTI', 'BAHREIN', 'KOREA',
       'RED SEA?', 'ASIA?', 'CEYLON (SRI LANKA)'], dtype=object)

In [88]:
sharkattacks['Country'].value_counts()

USA                               2116
AUSTRALIA                         1279
SOUTH AFRICA                       565
PAPUA NEW GUINEA                   133
NEW ZEALAND                        125
                                  ...
SOLOMON ISLANDS / VANUATU            1
CYPRUS                               1
MONACO                               1
FEDERATED STATES OF MICRONESIA       1
Coast of AFRICA                      1
Name: Country, Length: 203, dtype: int64

In [93]:
sharkattacks['Country'] = [(str(i).title()).replace("_"," ") 
                           for i in clean_col(sharkattacks['Country'])]

AttributeError: 'float' object has no attribute 'replace'

Visto el dataset con detenimiento, podemos descartar mÃ¡s columnas que no nos hacen falta y podemos simplificar el dataset obteniendo resultados similares

In [101]:
sharkattacks = sharkattacks.drop(['Date','Name', 'Injury', 'Fatal (Y/N)', 'Time',
                                    'Investigator Or Source', 'pdf', 'href formula', 'href',
                                    'Case Number.1', 'Case Number.2', 'original order'], axis=1)

KeyError: "['Date' 'Name' 'Injury' 'Fatal (Y/N)' 'Time' 'Investigator Or Source'\n 'pdf' 'href formula' 'href' 'Case Number.1' 'Case Number.2'\n 'original order'] not found in axis"

Podemos crear una columna nueva asociando los aÃ±os a decadas (1910->10s,1920->20s,1930->30s...)
Haria falta aplicarlo a todos los aÃ±os, solo aplicare una funcion para los aÃ±os comprendidos entre 1900 y 2016)

In [109]:
pd.unique(sharkattacks['Year'])

array([2016, 2015, 2014, 2013, 2012, 2011, 2010, 2009, 2008, 2007, 2006,
       2005, 2004, 2003, 2002, 2001, 2000, 1999, 1998, 1997, 1996, 1995,
       1984, 1994, 1993, 1992, 1991, 1990, 1989, 1969, 1988, 1987, 1986,
       1985, 1983, 1982, 1981, 1980, 1979, 1978, 1977, 1976, 1975, 1974,
       1973, 1972, 1971, 1970, 1968, 1967, 1966, 1965, 1964, 1963, 1962,
       1961, 1960, 1959, 1958, 1957, 1956, 1955, 1954, 1953, 1952, 1951,
       1950, 1949, 1948, 1848, 1947, 1946, 1945, 1944, 1943, 1942, 1941,
       1940, 1939, 1938, 1937, 1936, 1935, 1934, 1933, 1932, 1931, 1930,
       1929, 1928, 1927, 1926, 1925, 1924, 1923, 1922, 1921, 1920, 1919,
       1918, 1917, 1916, 1915, 1914, 1913, 1912, 1911, 1910, 1909, 1908,
       1907, 1906, 1905, 1904, 1903, 1902, 1901, 1900, 1899, 1898, 1897,
       1896, 1895, 1894, 1893, 1892, 1891, 1890, 1889, 1888, 1887, 1886,
       1885, 1884, 1883, 1882, 1881, 1880, 1879, 1878, 1877, 1876, 1875,
       1874, 1873, 1872, 1871, 1870, 1869, 1868, 1867, 1866, 1865, 1864,
       1863, 1862, 1861, 1860, 1859, 1858, 1856, 1855, 1854, 1853, 1852,
       1851, 1850, 1849, 1847, 1846, 1845, 1844, 1842, 1841, 1840, 1839,
       1837, 1836, 1835, 1834, 1832, 1831, 1830, 1829, 1828, 1827, 1826,
       1825, 1822, 1819, 1818, 1817, 1816, 1812, 1811, 1807, 1805, 1804,
       1803, 1800, 1791, 1788, 1787, 1785, 1779, 1776, 1771, 1767, 1764,
       1758, 1749, 1755, 1748, 1742, 1738, 1733, 1721, 1703, 1700, 1642,
       1638, 1637, 1617, 1595, 1580, 1555, 1554, 1543,  500,   77,    5,
          0])

In [110]:
decades = []
for year in sharkattacks['Year']:
    
    if year <= 1910 and year > 1900:
        decades.append('910s')
    if year <= 1920 and year > 1910:
        decades.append('920s')
    if year <= 1930 and year > 1920:
        decades.append('930s')
    if year <= 1940 and year > 1930:
        decades.append('940s')
    if year <= 1950 and year > 1940:
        decades.append('950s')
    if year <= 1960 and year > 1950:
        decades.append('960s')
    if year <= 1970 and year > 1960:
        decades.append('970s')
    if year <= 1980 and year > 1970:
        decades.append('980s')
    if year <= 1990 and year > 1980:
        decades.append('990s')
    if year <= 2000 and year > 1990:
        decades.append('2000s')
    if year <= 2010 and year > 2000:
        decades.append('2010s')
    
sharkattacks['Decades'] = Decades

NameError: name 'Decades' is not defined

Podemos pasar a reordenar las columnas para tener mejor lectura de los datos

In [96]:
newcolumns = ['Country','Area','Location','Activity','Type','Case Number','Year','Age']
sharkattacks = sharkattacks[newcolumns]

In [98]:
sharkattacks

,Country,Area,Location,Activity,Type,Case Number,Year,Age
0,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Unprovoked,2016.09.18.c,2016,Florida
1,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Unprovoked,2016.09.18.b,2016,Florida
2,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Unprovoked,2016.09.18.a,2016,Florida
3,AUSTRALIA,Victoria,Thirteenth Beach,Surfing,Unprovoked,2016.09.17,2016,Victoria
4,AUSTRALIA,Victoria,Bells Beach,Surfing,Unprovoked,2016.09.15,2016,Victoria
...,...,...,...,...,...,...,...,...
5987,AUSTRALIA,Western Australia,Roebuck Bay,Diving,Unprovoked,ND.0005,0,Western Australia
5988,AUSTRALIA,Western Australia,Unknown,Pearl diving,Unprovoked,ND.0004,0,Western Australia
5989,USA,North Carolina,Ocracoke Inlet,Swimming,Unprovoked,ND.0003,0,North Carolina
5990,PANAMA,Unknown,"Panama Bay 8ï¿½N, 79ï¿½W",Unknown,Unprovoked,ND.0002,0,Unknown
5991,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,Unprovoked,ND.0001,0,Eastern Province